.logo {
  filter: blur(1px);
  --size: 256px;
  width: var(--size);
  height: var(--size);
  position: sticky;
  margin: 0 auto calc(-1 * var(--size));
  display: flex;
  justify-content: center;
  align-items: center;

  top: calc(50% - (var(--size) / 2));
  left: calc(50% - (var(--size) / 2));
}

.logo_img {
  --size: 128px;
  width: var(--size);
  height: var(--size);
  z-index: 1;
  position: absolute;
  top: calc(50% - (var(--size) / 2));
  left: calc(50% - (var(--size) / 2));
  animation: scaleAnimation 5s linear infinite;
}

.logo_shadow {
  --size: 256px;
  width: var(--size);
  height: var(--size);
  z-index: 0;
  position: absolute;
  top: calc(50% - (var(--size) / 2));
  left: calc(50% - (var(--size) / 2));

  background: radial-gradient(
    circle closest-side at center,
    rgba(2, 0, 36, 1) 5%,
    rgba(9, 9, 121, 1) 25%,
    rgba(0, 212, 255, 1) 35%,
    transparent 75%,
    transparent
  );

  animation: scaleAnimation 5s linear infinite;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(0.95);
  }
}
