.whatshack_container {
  width: 100%;
  height: 100%;
  padding: 0;
  display: flex;
}

@media screen and (max-width: 768px) {
  .whatshack_container {
    position: relative;
    /* flex-direction: column; */
  }
}
